/*GENERAL*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

:root{
    --primary-color: #FFFFFF;
    --bg-section: #F6F6F6;
    --bg-footer:  #23272A;
    --dark-text: #000000;
    --bg-header: #2A5EE8;
    --bg-light: #7289DA;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 15px ;
}

body{
    background-color: var(--primary-color);
}

.debug{
    border: 1px solid black;
}


.d-flex{
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    justify-content: space-between;/*cosa migliore sarebbe dare justify content start e poi dare 20% al logo e ad accedi e centrare il menu*/
}

.c-flex{
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
}

ul{
    list-style: none;
}


ul.menu li{
    text-transform: capitalize; 
}

.align-center{
    align-items: center;
}

.logo{
   display: inline-block;
    padding: 1rem;
}

.even{
    background-color: var(--bg-section);
}

.reverse{
    flex-flow: row-reverse wrap;
}

.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

.text-center{
    text-align: center;
}

.left{
    width: 60%;
}

.right{
    width: 40%;
}

.p-top-15{
    padding-top: 15px; 
}

.m-40{
    margin: 40px 0 ; 
}

.wave{
    height: 100px;
    background-image: url(../img/wave.svg);
    filter: opacity(0.04);
}

.wave-rotate{
    transform: rotate(180deg);
}

/*ANCORE*/
nav a, .button{
    color: var(--primary-color);
    text-decoration: none;
    display: inline-block;
    padding: 5px;
} 

header nav a, .button .button-small{
   padding: 5px 10px; 
}

.button{
    background-color: var(--primary-color);
    color: var(--dark-text);
    border-radius: 15px;
    padding: 10px;
    font-size: 14px;
    text-decoration: none;  
}

.bg-dark{
    background-color: var(--bg-footer);
    color: var(--primary-color);
}

.bg-light{
    background-color: var(--bg-light);
    color: var(--primary-color);
    
}


/*HEADER*/
header{
    background-color: var(--bg-header);
    color: var(--primary-color);
}

#hero{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 500px;
    background-position: center;   
}

.content{
    max-width: 700px;
    color: var(--primary-color);
    padding: 100px 0;
    
}

.content p{
    padding: 30px 15px;
    line-height: 1.8;
}

h1{
    color: var(--primary-color);
    font-size: 40px;
    
}


/*MAIN*/

h2{
    color: var(--dark-text);
    font-size: 40px;
    margin-bottom: 25px;
}

.text{
    width: 330px;
}

.text-b{
    width: 850px;
    text-align: center;
}

/*.text-down{
    width: 600px;
    text-align: center;
    background-image: url(../img/stars.svg);
    background-size: cover;
}*/
 
h3{
    color: var(--dark-text);
    font-size: 25px;
    margin-bottom: 30px;
}

.stars{
    background-image: url(../img/stars.svg);
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 50px;
}

/*FOOTER*/
footer{
    background-color: var(--bg-footer);
    color: var(--primary-color);
}



{

}